.user {
    max-width: 600px;
    max-height: 200px;
    background-color: #ededed;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    .avatar {
        max-width: 100px;
        border-radius:10px;
        margin-bottom: 5px;
    }
    .desc{
        border:1px solid #0000;
        .message {
            background-color:#0000;
        }
    }
}