.user {
    max-width: 600px;
    background-color: #ededed;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;

    .user-profile {
        display: flex;
        align-items: center;
    }

    .avatar {
        max-width: 100px;
        max-height: 70px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .desc {
        border: 1px solid #0000;
        margin-left: 50px;

        h2 {
            font-size: 15px;
        }

        .message {
            background-color: #0000;
        }
    }
}